[Unit]
Description=free.dm Service daemon

[Service]
Type=simple
WorkingDirectory=/free.dm/
UMask=0007
ExecStart="/free.dm/daemon.py" server start
ExecStop="/free.dm/daemon.py" server stop
StandardOutput=journal
StandardError=journal
SyslogIdentifier=freedm

[Install]
WantedBy=multi-user.target
Alias=freedm.service